.Calculator{
    display :flex;
    flex-direction:row;
    justify-content : center;
    align-items : center;
    height:80vh;
    .imagecontainer{
        color: red;
        width: 60rem;
        height:100%;
        display: flex;
        justify-content:center;
        align-items:center;
        .img{
            display: flex;
            justify-content:center;
            align-items:center;
            img{
                width: 90%;
            }
        }
    }
    .btn{
        width: 50%;
        margin: 1rem;
        display: block;
    }
    .btn.gold{
        // margin-bottom: 5%;
    }
    .goldPrices{
        width:40% !important;
        font-size: 16px;
        span{
            display:block;
            direction:rtl;
        }
    }
    .OutterContainer{
        flex-wrap: nowrap !important;
        height:100%;
        margin-top:20%;
        div{
            margin-top:1rem;
        }
        .input{
            width: 25% !important;
            direction: rtl !important;
            text-align: center;
            font-size: 20px !important;
        }
        .label{
            width: 25% !important;
            text-align: center;
            font-size: 20px !important;
        }
    }
}

.GoldCal{
    display: flex;
    flex-direction:column;
    .goldCalinput{
        display: flex;
        flex-direction:row;
    }
}
