.ContactPage {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:#FFF;
  position: relative;

  .ContactForm {
    flex: 1;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 10% 0 10%;
    .btn {
      width: 100%;
      height: 3rem;
      button {
        width: 100%;
        height: 100%;
        outline: none;
        border: 1px solid rgba($color: #000, $alpha: 0.5);
        background: none;
        color: #000000;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
        font-size: 12pt;
        &:hover {
          background: #264653;
          color: #FFF;
          transition: all 0.2s ease-in-out;
        }
      }
    }
    .input {
      border-bottom: 1px solid rgba($color: #000, $alpha: 0.5);
      width: 100%;
      margin-bottom: 2rem;
      input,
      textarea {
        padding-bottom: 0.5rem;
        width: 100%;
        background-color: transparent;
        outline: none;
        border: none;
        color: #000;
        font-size: 15pt;
        resize: none;
        font-family: "Cairo", arial;
        &::-webkit-input-placeholder {
          color: rgba($color: #264653, $alpha: 0.5);
        }
        &::-moz-placeholder {
          color: rgba($color: #264653, $alpha: 0.5);
        }
        &:-ms-input-placeholder {
          color: rgba($color:#264653, $alpha: 0.5);
        }
        &::-ms-input-placeholder {
          color: rgba($color:#264653, $alpha: 0.5);
        }
        &::placeholder {
          color: rgba($color:#264653, $alpha: 0.5);
        }
      }
    }
  }
  .AnimatedContactSvg {
    flex: 1;
    position: relative;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    .ContactUs {
      z-index: 2;
      font-family: "Electrolize", cursive;
      font-size: 35pt;
      color: #264653;
      font-weight: 20;
    }
    svg {
      position: absolute;
      width: 200%;
      height: 150%;
      path {
        stroke: #000000;
        stroke-width: 0.3px;
        fill: transparent;
        stroke-linejoin: round;
      }
    }
  }
  .waves {
    width: 100%;
    position: absolute;
    bottom: -150px;
  }
}
@media (max-width: 800px) {
  .ContactPage {
    flex-direction: column;
    .ContactForm {
      width: 100%;
    }
  }
}