@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
.navBar{ 
    background-color: #264653;
    height:4rem;
    a{
        color: #FFF;
        transition: all 0.3s ease-in-out;
        font-size: 15px;
    }
    .nav-active{
        color: #e76f51
    }
}
.logo-container-nav{
    background-color: #000;
    width: 100% !important;
    max-width: none !important;
    display: flex !important;
    justify-content: center;
    align-items: center;
    color: #FFF;
    font-family: 'Bebas Neue', cursive;
    font-size: 2.5rem;
    img{
        width: 30%;
    }
}