
.slider{
    height:60vh;
    width:80%;
    margin-top: 1rem;
    overflow:hidden;
    .img-slider-container{
        height:100% !important;
        width: 100% !important;
        display: flex !important;
        justify-content:center !important;
        align-items:center !important;
        .slider-img{
            width:100%;
        }

    }
}